# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***
- List popular languages for Data Science
- List Commonly used libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. C++
4. C

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Keras
3. TensorFlow
4. NumPy

In [ ]:
|Data Science Tools | 
| ------|  
|Jupyter Notebooks|
|R Studios|
|Zeppelin Notebooks|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Sushant Shankar